<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
  <package id="Telerik.DataAccess.Core" version="2015.1.225.1" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Content" version="8.0.5700.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Core" version="8.0.5700.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.SiteSync" version="8.0.5700.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Thunder" version="8.0.5700.0" targetFramework="net45" />
</packages>